body{
    background-color: #E5E5E5;
}

.logo{
    width: fit-content;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

#fin{
    display: none;
}

.ingresar{
    margin-top: 50px;
    display: inline-block;
    width: 45%;
    padding: 5px;
    margin-right: 90px;
    text-align: center;
}

#ingresar, #mostrar{
    width: 90%;
    margin: 5px;
    Top: 40px;
    border: none;
    height: 480px;
}

#ingresar{
    font-size: 32px;
    text-align: center;
    resize: none;
    outline: none;
    margin-top: 30px;
    background-color: #E5E5E5;
    color: #0A3871;
}

#mostrar{
    width: 90%;
    font-size: 32px;
    resize: none;
    color: #495057;
    margin-top: 55px;
    outline: none;
}

#ingresar::placeholder{
    text-align: center;
    vertical-align: middle;
}

.aviso{
    text-align: left;
    margin-left: 5%;
}

.aviso p{
    color: #495057;
    display: inline-block;
    margin: 0px;
}

#simbolo{
    height: 16px;
    width: 16px;
    margin: 0px;
    vertical-align: middle;
}

.botones{
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

button{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 280px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter';
    font-size: 20px;
    display: inline-block;
    border-color: #0A3871;
    opacity: 1;
    cursor: pointer;
}

#copiar{
    color: #0A3871;
    margin-top: 6%;
}

#button1{
    background-color: #0A3871;
    color: white;
    margin-right: 10px;
}

#button1:hover{
    background-color: lightgrey;
    color: #0A3871;
}

#button2{
    background-color: lightgrey;
    color: #0A3871;
}

#button2:hover, #copiar:hover{
    background-color: #0A3871;
    color: white;
}

img{
    position: static;
    width: 120px;
    height: 48px;
    left: 0px;
    top: 0px;
    margin: 40px 0px;
}

.mostrar{
    display: inline-block;
    vertical-align: top;
    width: 420px;
    height: 680px;
    top: 40px;
    text-align: center;
    background-color: white;
    border-radius: 32px;
    font-size: 20px;
    margin-top: 30px;
}

#dibujo{
    width: 336px;
    height: 304px;
}

.mostrar p{
    width: 80%;
    font-size: 20px;
    margin-left: 10%;
}

h2{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border: solid;
    width: fit-content;
}